@using System.Security.Claims
@using AzureAdMvcExample.Infrastructure.Auth
@using ClaimTypes = System.IdentityModel.Claims.ClaimTypes
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Azure AD MVC Example</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Azure AD MVC Example", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("User lookup", "Index", "UserLookup")</li>
                    @if (User.IsInRole(AppRoles.Group1))
                    {
                        <li>@Html.ActionLink("Group 1", "Group1", "Home")</li>
                    }
                    @if (User.IsInRole(AppRoles.Group2))
                    {
                        <li>@Html.ActionLink("Group 2", "Group2", "Home")</li>
                    }
                    @if (User.IsInRole(AppRoles.Group3))
                    {
                        <li>@Html.ActionLink("Group 3", "Group3", "Home")</li>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Logout", "Index", "Logout")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer>
            <hr />
            @if (User.Identity.IsAuthenticated)
            {
                @:Logged in as @(ClaimsPrincipal.Current.FindFirst(ClaimTypes.GivenName).Value) @(ClaimsPrincipal.Current.FindFirst(ClaimTypes.Surname).Value).
            }
            else
            {
                @:Not logged in
            }
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/userlookup")
    @RenderSection("scripts", required: false)
</body>
</html>
